<div ng-controller="AboutCtrl">
	
	<h2><a id="user-content-introduction" class="anchor" href="#introduction" aria-hidden="true"><span class="octicon octicon-link"></span></a>Introduction</h2>

<p>NW.js is an app runtime based on <code>Chromium</code> and <code>node.js</code>. You can 
write native apps in HTML and JavaScript with NW.js. It also lets you
call Node.js modules directly from the DOM and enables a new way of writing
native applications with all Web technologies.</p>

<p>It was created in the Intel Open Source Technology Center.</p>

<p><a href="https://speakerdeck.com/u/zcbenz/p/node-webkit-app-runtime-based-on-chromium-and-node-dot-js">Introduction to node-webkit (slides)</a><br>
<a href="http://strongloop.com/strongblog/creating-desktop-applications-with-node-webkit/">Creating Desktop Applications With node-webkit</a><br>
<a href="http://oldgeeksguide.github.io/presentations/html5devconf2013/wtod.html">WebApp to DesktopApp with node-webkit (slides)</a><br>
<a href="http://yedingding.com/2014/08/01/node-webkit-intro-en.html">Essay on the history and internals of the project</a></p>

<h2><a id="user-content-features" class="anchor" href="#features" aria-hidden="true"><span class="octicon octicon-link"></span></a>Features</h2>

<ul>
<li>Apps written in modern HTML5, CSS3, JS and WebGL.</li>
<li>Complete support for <a href="http://nodejs.org/api/">Node.js APIs</a> and all its <a href="https://npmjs.org">third party modules</a>.</li>
<li>Good performance: Node and WebKit run in the same thread: Function calls are made straightforward; objects are in the same heap and can just reference each other;</li>
<li>Easy to package and distribute apps.</li>
<li>Available on Linux, Mac OS X and Windows</li>
</ul>

<h2><a id="user-content-downloads" class="anchor" href="#downloads" aria-hidden="true"><span class="octicon octicon-link"></span></a>Downloads</h2>


<p><strong>v0.12.3:</strong> (Jul 31, 2015, based off of IO.js v1.2.0, Chromium 41.0.2272.76): <a href="https://groups.google.com/d/msg/nwjs-general/hhXCS4aXGV0/TUQmcu5XDwAJ">release notes</a>  </p>

<ul>
<li>Linux: <a href="http://dl.nwjs.io/v0.12.3/nwjs-v0.12.3-linux-ia32.tar.gz">32bit</a> / <a href="http://dl.nwjs.io/v0.12.3/nwjs-v0.12.3-linux-x64.tar.gz">64bit</a></li>
<li>Windows: <a href="http://dl.nwjs.io/v0.12.3/nwjs-v0.12.3-win-ia32.zip">32bit</a> / <a href="http://dl.nwjs.io/v0.12.3/nwjs-v0.12.3-win-x64.zip">64bit</a></li>
<li>Mac 10.7+: <a href="http://dl.nwjs.io/v0.12.3/nwjs-v0.12.3-osx-ia32.zip">32bit</a> / <a href="http://dl.nwjs.io/v0.12.3/nwjs-v0.12.3-osx-x64.zip">64bit</a></li>
</ul>
							
</div>			