<div ng-controller="HotAppsCtrl">
	<div class="row">
 	 <div class="col-xs-3  col-md-2">
		<nav>
		  <ul class="nav nav-pills nav-stacked span2">
			<li><a href="#" ng-click="cat('')">All</a></li>
			<li><a href="#" ng-click="cat('Games')">Games</a></li>
			<li><a href="#" ng-click="cat('Audio & Video')">Audio & Video</a></li>
			<li><a href="#" ng-click="cat('Developer Tools')">Developer Tools</a></li>
			<li><a href="#" ng-click="cat('Books & Magazines')">Books & Magazines</a></li>
			<li><a href="#" ng-click="cat('Education')">Education</a></li>
			<li><a href="#" ng-click="cat('Graphic')">Graphic</a></li>
			<li><a href="#" ng-click="cat('Internet')">Internet</a></li>
			<li><a href="#" ng-click="cat('Medicine')">Medicine</a></li>
			<li><a href="#" ng-click="cat('Office')">Office</a></li>
			<li><a href="#" ng-click="cat('Science & Engineering')">Science & Engineering</a></li>
			<li><a href="#" ng-click="cat('Utilities')">Utilities</a></li>
		  </ul>
		</nav>
	</div>
  <div class="col-xs-9 col-md-10">
    <!--big icon bar-->
	<label>Search:</label>
	<input type="text" ng-model="search.$">
    <div class="container-fluid">
      <ul class="nav nav-pills" id="iconbar">

     <li  ng-repeat="item in apps | filter:search:strict">
	<a class="text-center">  <!--ng-click="open(item.id)"-->
		<!--img src="http://placehold.it/150x150" /-->
		 <img src="https://raw.githubusercontent.com/lagendre/{{item.name}}/{{item.default_branch}}/res/icon.png" />
<!--div class="row">  <div class="col-xs-6 col-md-offset-1"> </div>  <div class="col-xs-2" ></div></div-->
 <p>{{item.title}}<br />
    {{item.cat}}<br />
 <!--{{item.author}}<br /> rating ng-model=item.rate max="max" readonly="true"  ></rating-->
</p>
	</a>
<a href="https://github.com/lagendre/{{item.name}}/releases/download/latest/{{item.name}}" style="float:right;margin-top:-40px;" class="glyphicon glyphicon-save" role="button"></a>
 <!--button type="button" class="btn btn-primary" ng-click="download( item._id, item.file )" >
  <span class="glyphicon glyphicon-save"></span>
</button-->
      </li>

      </ul>
    </div>
    <!--/big icon bar-->

  </div>
</div>

</div>
